# Homework A1
### Written by Robby Jeffries
### 02-11-2022

In [17]:
# Import libraries
import numpy as np
import pandas as pd
from sklearn import linear_model
import matplotlib.pyplot as plt

In [37]:
# Import data
df = pd.read_excel('/Users/robbyjeffries/OneDrive - University of Arkansas/UARK/Spring 2022/ISYS 5843, Business Intel-Knowledge Mgmt HW/Wine.xlsx')

In [38]:
# Display the shape of the data
print('\nDataframe (rows, columns) =', df.shape, '\n')

Dataframe (rows, columns) = (6497, 14)

In [59]:
# Print the first 5 rows of data to ensure that the file imported correctly
df.head(5)

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,recommend
0,1,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,0
2,1,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,0
3,1,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,1
4,1,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0

## Data Cleaning

Some of the variables are binary. That is, 'type' is either red or white, and 'recommend' is either yes or no. We will change both of these to dummy variables so that they can be included in the regression.

In [40]:
# replace "type" with a dummy that is 1 if red, 0 if white
df.type == 'red'

0        True
1        True
2        True
3        True
4        True
        ...
6492    False
6493    False
6494    False
6495    False
6496    False
Name: type, Length: 6497, dtype: bool

In [41]:
df.type == 'white'

0       False
1       False
2       False
3       False
4       False
        ...
6492     True
6493     True
6494     True
6495     True
6496     True
Name: type, Length: 6497, dtype: bool

In [42]:
set(df['type'])

{'red', 'white'}

In [43]:
df.type = (df.type == 'red')*1

In [46]:
set(df['recommend'])

{'no', 'yes'}

In [47]:
df.recommend = (df.recommend == 'yes')*1

In [48]:
df.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,recommend
0,1,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,0
2,1,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,0
3,1,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,1
4,1,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0

In [49]:
df.tail()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,recommend
6492,0,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,1
6493,0,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,0
6494,0,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,1
6495,0,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,1
6496,0,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,1

## Linear Regression

In [51]:
# Define independent and dependent variables
X = df[['type','fixed acidity','volatile acidity','residual sugar','free sulfur dioxide','density','pH','sulphates','alcohol','recommend']]
y = df['quality']

In [52]:
regr = linear_model.LinearRegression()
regr.fit(X, y)

LinearRegression()

In [53]:
print(regr.coef_)

[ 2.21656208e-01  5.23901518e-02 -3.63167995e-01  3.38263314e-02
  1.58116725e-03 -6.91411244e+01  2.55744895e-01  2.61310302e-01
  5.13460058e-02  1.31300872e+00]

## Logistic Regression

In [56]:
# Define independent and dependent variables
X2 = df[['alcohol','volatile acidity','sulphates','residual sugar','type','density','free sulfur dioxide','total sulfur dioxide']]
y2 = df['recommend']

In [57]:
logregr = linear_model.LogisticRegression()
logregr.fit(X2, y2)

/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [58]:
print(logregr.coef_)

[[ 0.93804924 -4.4447947   1.33584462  0.06149696  0.30019924 -4.08116291
   0.01705494 -0.00658439]]