In [1]:
import os
os.chdir('/Users/robbyjeffries/MSEA2022/Spring 2022/ECON 5763, Economic Analytics/Data')
# Set up a working directory to the folder where your datasets are included
# The figures, etc that are produced from your program will be stored in the folder as well

In [2]:
# install modules and packages
import numpy as np # module for data manipulation (similar to matlab)
import pandas as pd # module for data manipulation (similar to stata)
import math # math fns

In [3]:
# load data using pd.read_csv (data.csv will be uploaded to your workspace)
raw0 = pd.read_csv('data0.csv')

### <font color='green'> Differences between Numpy and Panda </font>
https://discuss.codecademy.com/t/what-are-some-differences-between-pandas-numpy-and-matplotlib/354475


* The biggest difference is that Panda creates and uses tabular data ("Panda Frame" table form -> user friendly) that can be easily visualized. However it accompanies many built-in functions (e.g. row, column names) it may be very slow in optimization/computation. In contrast, Numpy create and uses very simple numerical arrays (e.g. vector and matrix) that are superior in mathmatical/numerical computation.


* We will learn how to convert panda dataframe to numpy array using raw0.values, and see the differences between the two in accessing and manipulating data.

In [4]:
# check how data is uploaded 
# the column for observation numbers and the row for variable names are not part of data
# Python index starts from 0 (0-indexed)
raw0.head()

,date,census,person_gender,person_race,person_dob,traffic,frisk_search,arrest,male,offid,dob_1,race_1,sex_1,apptdate_1,blacktract
0,2008-04-30,3.606700e+10,M,W,1981-06-13,1.0,0,0,1,1,1978-02-07,W,M,2005-07-25,1.0
1,2007-01-23,3.606700e+10,M,B,1960-03-27,1.0,0,0,1,1,1978-02-07,W,M,2005-07-25,1.0
2,2009-01-22,3.606700e+10,M,B,1968-10-20,1.0,0,0,1,1,1978-02-07,W,M,2005-07-25,1.0
3,2006-03-22,3.606701e+10,M,B,1982-09-18,1.0,0,0,1,1,1978-02-07,W,M,2005-07-25,1.0
4,2007-07-27,3.606700e+10,F,W,1981-08-30,1.0,0,0,0,1,1978-02-07,W,M,2005-07-25,1.0

In [5]:
raw0.values

array([['2008-04-30', 36067003000.0, 'M', ..., 'M', '2005-07-25', 1.0],
       ['2007-01-23', 36067003000.0, 'M', ..., 'M', '2005-07-25', 1.0],
       ['2009-01-22', 36067003800.0, 'M', ..., 'M', '2005-07-25', 1.0],
       ...,
       ['2008-11-14', 36067002200.0, 'M', ..., 'M', '1997-11-14', 1.0],
       ['2009-01-20', 36067003200.0, 'F', ..., 'M', '1985-09-16', 1.0],
       ['2006-01-24', 36067003200.0, 'M', ..., 'M', '1989-03-31', 1.0]],
      dtype=object)

In [6]:
# drop missing values
raw0=raw0.dropna()

In [7]:
# check the length of data (= n)
len(raw0)

99278

In [8]:
# check the shape of data (n,p)
raw0.shape

(99278, 15)

### <font color='green'> Datatypes
https://pbpython.com/pandas_dtypes.html
    
https://docs.python.org/3/tutorial/floatingpoint.html

* Most frequently used types are integer, float (similar to decimal number; see the second reference for more information about float) and string.

* Each type takes different space in computer and some function only work for specific types, so sometimes we need to change the type of data.

In [9]:
# check the datatypes of data
raw0.dtypes

date              object
census           float64
person_gender     object
person_race       object
person_dob        object
traffic          float64
frisk_search       int64
arrest             int64
male               int64
offid              int64
dob_1             object
race_1            object
sex_1             object
apptdate_1        object
blacktract       float64
dtype: object

In [10]:
# change data types (census, traffic and blacktract to integer)
# astype() produces a copy so the copy should be assigned to the column of the original data for the change to be effective
raw0['census'] = raw0.census.astype(int)
raw0['traffic'] = raw0.traffic.astype(int)
raw0['blacktract'] = raw0.blacktract.astype(int)

In [11]:
# check the datatypes of data again
raw0.dtypes

date             object
census            int64
person_gender    object
person_race      object
person_dob       object
traffic           int64
frisk_search      int64
arrest            int64
male              int64
offid             int64
dob_1            object
race_1           object
sex_1            object
apptdate_1       object
blacktract        int64
dtype: object

### <font color='green'> Accessing/selecting row(s), column(s) and cell(s) in Panda
https://www.shanelynn.ie/select-pandas-dataframe-rows-and-columns-using-iloc-loc-and-ix/

https://towardsdatascience.com/a-python-beginners-look-at-loc-part-1-cb1e1e565ec2
    
* iloc - locate data points based on "updated" row \& column numbers when some rows or columns are removed 
* using variable name - locate data points based on "original" row \& column numbers assigned when data was read
* loc - useful when selecting rows or columns that satisfies certain conditions (e.g. >, ==)

In [12]:
# select a cell using iloc
raw0.iloc[1, 0]

'2007-01-23'

In [13]:
raw0.iloc[99277,0] 
# the last element in a list can be accessed using index -1 (this, however, doesn't work when variable name is used to select a column)

'2006-01-24'

In [14]:
# access a part of a string in a cell using iloc
raw0.iloc[0, 0][2]

'0'

In [15]:
# select a column using a variable name
raw0[['date','census']]

              date       census
0       2008-04-30  36067003000
1       2007-01-23  36067003000
2       2009-01-22  36067003800
3       2006-03-22  36067005800
4       2007-07-27  36067004000
...            ...          ...
102505  2008-08-28  36067003200
102506  2006-10-21  36067013800
102507  2008-11-14  36067002200
102508  2009-01-20  36067003200
102509  2006-01-24  36067003200

[99278 rows x 2 columns]

In [16]:
# access a part of a string in cell
raw0['date'][0][:3]

'200'

In [17]:
raw0['date'][102509]

'2006-01-24'

### <font color='red'> In-Class Exercise 1: Creating a dummy for person's gender

* We want to create a dummy variable that assigns 1 if driver is female (F), 0 otherwise

In [18]:
# check a list of unque elements (categories)
set(raw0['person_gender'])

{'F', 'M', 'U'}

### <font color='green'> Important Operators in Python
https://www.programiz.com/python-programming/operators
    
https://www.geeksforgeeks.org/python-operators/
    
* Arithmetic
* Logical/Identity/Comparison
* Assignment

In [19]:
raw0.person_gender == 'F'

0         False
1         False
2         False
3         False
4          True
          ...
102505    False
102506     True
102507    False
102508     True
102509    False
Name: person_gender, Length: 99278, dtype: bool

In [20]:
raw0.person_gender == 'M'

0          True
1          True
2          True
3          True
4         False
          ...
102505     True
102506    False
102507     True
102508    False
102509     True
Name: person_gender, Length: 99278, dtype: bool

In [21]:
(raw0.person_gender == 'F') | (raw0.person_gender == 'M')

0         True
1         True
2         True
3         True
4         True
          ...
102505    True
102506    True
102507    True
102508    True
102509    True
Name: person_gender, Length: 99278, dtype: bool

In [22]:
# remove the rows with "u"
raw0 = raw0.loc[(raw0.person_gender == 'F') | (raw0.person_gender == 'M')]

In [23]:
(raw0.person_gender == 'M')|(raw0.person_gender == 'F')

0         True
1         True
2         True
3         True
4         True
          ...
102505    True
102506    True
102507    True
102508    True
102509    True
Name: person_gender, Length: 99266, dtype: bool

In [24]:
set(raw0['person_gender'])

{'F', 'M'}

In [25]:
# replace "person_gender" with a dummy that is 1 if F, 0 otherwise
raw0.person_gender = (raw0.person_gender == 'F')*1

In [26]:
set(raw0['sex_1'])

{'F', 'M'}

In [27]:
# do the same for sex_1
raw0['sex_1']= (raw0.sex_1 == 'F')*1

In [28]:
raw0.head()

,date,census,person_gender,person_race,person_dob,traffic,frisk_search,arrest,male,offid,dob_1,race_1,sex_1,apptdate_1,blacktract
0,2008-04-30,36067003000,0,W,1981-06-13,1,0,0,1,1,1978-02-07,W,0,2005-07-25,1
1,2007-01-23,36067003000,0,B,1960-03-27,1,0,0,1,1,1978-02-07,W,0,2005-07-25,1
2,2009-01-22,36067003800,0,B,1968-10-20,1,0,0,1,1,1978-02-07,W,0,2005-07-25,1
3,2006-03-22,36067005800,0,B,1982-09-18,1,0,0,1,1,1978-02-07,W,0,2005-07-25,1
4,2007-07-27,36067004000,1,W,1981-08-30,1,0,0,0,1,1978-02-07,W,0,2005-07-25,1

### <font color='red'> In-Class Exercise 2: Creating a set of dummies for person's race

* we want to create two dummies
    - First dummy that is 1 if driver is B, 0 otherwise
    - Second dummy that is 1 if driver is A or I or O or U (W is a baseline group)

In [29]:
# check a list of unque elements in person_race and create/add a dummy, D_B, to data
# there are many other ways to add new columns to data in Panda (see https://www.geeksforgeeks.org/adding-new-column-to-existing-dataframe-in-pandas/)

raw0['D_B'] = (raw0.person_race == 'B')*1

In [30]:
set(raw0['person_race'])

{'A', 'B', 'I', 'O', 'U', 'W'}

In [31]:
raw0.head()

,date,census,person_gender,person_race,person_dob,traffic,frisk_search,arrest,male,offid,dob_1,race_1,sex_1,apptdate_1,blacktract,D_B
0,2008-04-30,36067003000,0,W,1981-06-13,1,0,0,1,1,1978-02-07,W,0,2005-07-25,1,0
1,2007-01-23,36067003000,0,B,1960-03-27,1,0,0,1,1,1978-02-07,W,0,2005-07-25,1,1
2,2009-01-22,36067003800,0,B,1968-10-20,1,0,0,1,1,1978-02-07,W,0,2005-07-25,1,1
3,2006-03-22,36067005800,0,B,1982-09-18,1,0,0,1,1,1978-02-07,W,0,2005-07-25,1,1
4,2007-07-27,36067004000,1,W,1981-08-30,1,0,0,0,1,1978-02-07,W,0,2005-07-25,1,0

In [32]:
# do the same for the other dummy
temp2 = ((raw0.person_race == 'A')|(raw0.person_race == 'I')|(raw0.person_race == 'O')|(raw0.person_race == 'U'))*1
raw0['D_Other'] = temp2

In [33]:
raw0.head()

,date,census,person_gender,person_race,person_dob,traffic,frisk_search,arrest,male,offid,dob_1,race_1,sex_1,apptdate_1,blacktract,D_B,D_Other
0,2008-04-30,36067003000,0,W,1981-06-13,1,0,0,1,1,1978-02-07,W,0,2005-07-25,1,0,0
1,2007-01-23,36067003000,0,B,1960-03-27,1,0,0,1,1,1978-02-07,W,0,2005-07-25,1,1,0
2,2009-01-22,36067003800,0,B,1968-10-20,1,0,0,1,1,1978-02-07,W,0,2005-07-25,1,1,0
3,2006-03-22,36067005800,0,B,1982-09-18,1,0,0,1,1,1978-02-07,W,0,2005-07-25,1,1,0
4,2007-07-27,36067004000,1,W,1981-08-30,1,0,0,0,1,1978-02-07,W,0,2005-07-25,1,0,0

### <font color='red'> In-Class Exercise 3: creating age variable for driver

* Definition of age: age = date(string, yyyy-mm-dd) -person_dob(string, yyyy-mm-dd)

In [34]:
# [Step 1]
# access the years in "person_dob" and "date" and store them in "dyear" and "byear"
# covert the strings to integers and calculate the difference
dyear=raw0['date'][0][:4]
byear=raw0['person_dob'][0][:4]
dyearn = int(dyear)
byearn = int(byear)
age = dyearn - byearn
age

27

In [35]:
# [Step 2]
# access the months in "person_dob" and "date" and store them in "dmon" and "bmon"
# covert the strings to integers and calculate the difference
# if the difference in month is negative, then subtract one from age
dmon=raw0['date'][0][5:7]
bmon=raw0['person_dob'][0][5:7]
dmonn = int(dmon)
bmonn = int(bmon)
mond = dmonn - bmonn
if mond < 0:
    age = age -1
age

26

### <font color='green'> For-Loops in Python
https://www.w3schools.com/python/python_for_loops.asp
    
### <font color='green'> If statements in Python
https://www.w3schools.com/python/python_conditions.asp

In [36]:
# use a loop to repeat this for all the observations
D_age = np.zeros((len(raw0),),dtype=int)
for i in range(0,len(raw0)):
    age=int(raw0.iloc[i,0][:4]) - int(raw0.iloc[i,4][:4])
    mond=int(raw0.iloc[i,0][5:7]) - int(raw0.iloc[i,4][5:7])
    if mond < 0:
        age = age -1
    D_age[i]=age

In [37]:
# add it to raw0
raw0['D_age'] = D_age

In [38]:
raw0.head()

,date,census,person_gender,person_race,person_dob,traffic,frisk_search,arrest,male,offid,dob_1,race_1,sex_1,apptdate_1,blacktract,D_B,D_Other,D_age
0,2008-04-30,36067003000,0,W,1981-06-13,1,0,0,1,1,1978-02-07,W,0,2005-07-25,1,0,0,26
1,2007-01-23,36067003000,0,B,1960-03-27,1,0,0,1,1,1978-02-07,W,0,2005-07-25,1,1,0,46
2,2009-01-22,36067003800,0,B,1968-10-20,1,0,0,1,1,1978-02-07,W,0,2005-07-25,1,1,0,40
3,2006-03-22,36067005800,0,B,1982-09-18,1,0,0,1,1,1978-02-07,W,0,2005-07-25,1,1,0,23
4,2007-07-27,36067004000,1,W,1981-08-30,1,0,0,0,1,1978-02-07,W,0,2005-07-25,1,0,0,25

### <font color='darkred'> HW1: Similarly as we have done for D_age,
#### Robby Jeffries
1. create an age variable for officer: O_age
2. create a tenure variable for officer: Exp, which is defined as exp = date - apptdate_1
3. Append the two variables to raw0

#### <font color='darkred'> Create an age variable for officer: O_age

In [39]:
# use a loop to repeat this for all the observations
O_age = np.zeros((len(raw0),),dtype=int)
for i in range(0,len(raw0)):
    age2=int(raw0.iloc[i,0][:4]) - int(raw0.iloc[i,10][:4])
    mond2=int(raw0.iloc[i,0][5:7]) - int(raw0.iloc[i,10][5:7])
    if mond2 < 0:
        age2 = age2 -1
    O_age[i]=age2

In [40]:
# add it to raw0
raw0['O_age'] = O_age

In [41]:
raw0.head()

,date,census,person_gender,person_race,person_dob,traffic,frisk_search,arrest,male,offid,dob_1,race_1,sex_1,apptdate_1,blacktract,D_B,D_Other,D_age,O_age
0,2008-04-30,36067003000,0,W,1981-06-13,1,0,0,1,1,1978-02-07,W,0,2005-07-25,1,0,0,26,30
1,2007-01-23,36067003000,0,B,1960-03-27,1,0,0,1,1,1978-02-07,W,0,2005-07-25,1,1,0,46,28
2,2009-01-22,36067003800,0,B,1968-10-20,1,0,0,1,1,1978-02-07,W,0,2005-07-25,1,1,0,40,30
3,2006-03-22,36067005800,0,B,1982-09-18,1,0,0,1,1,1978-02-07,W,0,2005-07-25,1,1,0,23,28
4,2007-07-27,36067004000,1,W,1981-08-30,1,0,0,0,1,1978-02-07,W,0,2005-07-25,1,0,0,25,29

#### <font color='darkred'> Create a tenure variable for officer: Exp, which is defined as exp = date - apptdate_1

In [42]:
# use a loop to repeat this for all the observations
O_Exp = np.zeros((len(raw0),),dtype=int)
for i in range(0,len(raw0)):
    exp=int(raw0.iloc[i,0][:4]) - int(raw0.iloc[i,13][:4])
    mond3=int(raw0.iloc[i,0][5:7]) - int(raw0.iloc[i,13][5:7])
    if mond3 < 0:
        exp = exp -1
    O_Exp[i]=exp

In [43]:
# add it to raw0
raw0['O_Exp'] = O_Exp

In [44]:
raw0.head()

,date,census,person_gender,person_race,person_dob,traffic,frisk_search,arrest,male,offid,dob_1,race_1,sex_1,apptdate_1,blacktract,D_B,D_Other,D_age,O_age,O_Exp
0,2008-04-30,36067003000,0,W,1981-06-13,1,0,0,1,1,1978-02-07,W,0,2005-07-25,1,0,0,26,30,2
1,2007-01-23,36067003000,0,B,1960-03-27,1,0,0,1,1,1978-02-07,W,0,2005-07-25,1,1,0,46,28,1
2,2009-01-22,36067003800,0,B,1968-10-20,1,0,0,1,1,1978-02-07,W,0,2005-07-25,1,1,0,40,30,3
3,2006-03-22,36067005800,0,B,1982-09-18,1,0,0,1,1,1978-02-07,W,0,2005-07-25,1,1,0,23,28,0
4,2007-07-27,36067004000,1,W,1981-08-30,1,0,0,0,1,1978-02-07,W,0,2005-07-25,1,0,0,25,29,2

In [45]:
conda install nbconvert

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.